<html>
  <head>
    <style type="text/css">
      body {
        background: gray;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>A cute doggo courtesy of <a href="https://twitter.com/dog_rates">@dog_rates</a></h4>
      <img width="475" src="{{url}}" />

      <p>Thank you <a href="https://twitter.com/dog_rates">We Rate Dogs (@dog_rates)</a>!</p>
    </div>
  </body>
</html>